@model  App.UI.Web.MVC.Models.ViewModels.ProductoSearchViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Lista de productos</h2>

@using (Html.BeginForm())
{
    <label>Buscar por Nombre</label>
    @Html.TextBoxFor(item => item.FilterByName, new { @class = "form-control" })
    <br />
    <label>Buscar por Categoría</label>
    @Html.DropDownListFor(item => item.FilterByCategoria, new SelectList(Model.Categorias,"CategoriaID","Nombre"),"Todos"
            ,new {@class="form-control" })
    <br />
    <label>Buscar por Marca</label>
    @Html.DropDownListFor(item => item.FilterByMarca, new SelectList(Model.Marcas,"MarcaID","Nombre"),"Todos"
            ,new {@class="form-control" })
    <br />
    <button class="btn btn-primary">Buscar</button>
}

<table class="table">
    <tr>
        <td>Código</td>
        <td>Nombre</td>
        <td>Categoría</td>
        <td>Marca</td>
        <td>Precio Mayor</td>
        <td>Precio Menor</td>
        <td>Stock Actual</td>
    </tr>
    @foreach (var item in Model.Productos)
    {
        <tr>
            <td>@item.ProductoCode</td>
            <td>@item.Nombre</td>
            <td>@item.Categoria.Nombre</td>
            <td>@item.Marca.Nombre</td>
            <td>@item.PrecioMayor</td>
            <td>@item.PrecioMenor</td>
            <td>@item.StockActual</td>
        </tr>
    }
</table>